body{
	/* font-family: Georgia, serif; */
	font-family: 'et-book 27px', serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	background-color: red;
}

a{
	color: #227CE8;
}

a:hover{
	text-decoration: none;
}

p code, li code{
	background-color: #F9F9F9;
	border: 1px solid #eee;
	font-size: 12px;
	padding: 2px 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
hr{
	border: 0;
	height: 1px;
	background-color: #ccc;
	margin: 2em 1em;
}
.content{
	margin-left: 160px;
	margin-right: 160px;
	max-width: 800px;
	min-width: 600px;
	margin-bottom: 50px;
}
.related{
	margin-top: 10px;
}
.related ul{
	margin: 0;
	padding: 0;
}
.related li{
	font-size: 14px;
	list-style: none;
	padding: 5px 0px;
	margin: 0;
	color: #2c2b2b;
	border-bottom: 1px solid #eee;
}

.related li span{
	float:right;
}

.related a{
	text-decoration: none;
}
.related a:hover{
	text-decoration: underline;
}

h1, h2, h3, h4{
	color: #0e0d0d;
	/*font-family: Futura, Helvetica, sans-serif;*/
	font-family: 'et-book 27px', serif;
	/* font-family: 'Slabo 27px', serif; */
	font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a{
	color: #555;
	text-decoration: none;
}

h1{
  font-size: 32px;
  border-bottom: 1px solid #eee;
  margin-bottom: .25em;
}

#header{
	position: fixed;
	left: 15px;
	top: 15px;
	width: 110px;
	/* font-family: Helvetica, sans-serif; */ 
	font-family: 'et-book', sans-serif;

}

#header .avatar{
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 4px #555;
}

#header a{
	text-decoration: none;
}

#header #me{
	text-transform: uppercase;
	margin: 10px 0 20px 0;
}

#header #tiago{
	font-size: 22px;
	letter-spacing: 1px;
	color: #666;
}

#header #tiago:hover{
	color: #000;
}

#header #maluta{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 12px;
	color: #000;
}

#header .site{
}

#header .site img{
	padding: 0 3px;
	border: 0;
}
#header #mousing{
	font-size: 12px;
	color: #999;
	padding-left: 2px;
	letter-spacing: 1px;
}


.site-name-alt {
	font-family: 'Yellowtail', cursive;
	font-size: 99px;
	font-color: red;
}

#header #sections{
  margin: 0px 0 0 -8px;
}
#header #sections div{
  margin-bottom: 7px;
}
#header #sections a{
  background-color: #000;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
#header #sections a:hover{
  color: #ccc;
  padding: 3px 20px;
}



#post{
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
#post ul{
  font-size: 14px;
}
#post li{
  line-height: 1.25em;
  margin-bottom: .75em;
  color: #222;
  list-style-type: square;
}
#post li code{
  border: 1px solid #ccc;
}
#post p{
  font-size: 14px;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}
#post img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px #555;
}
#post .authoring{
  padding-left: 3px;
  font-size: 14px;
  color: #777;
}
#post .authoring a{
  color: #777;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding: 0;
}
#post .authoring a:hover{
  color: #555;
  border-color: #555;
}
#post blockquote{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 1em 3em;
  margin: 2em 6em;
  color: #444;
}
#post blockquote cite:before{
  content: '� ';
}
#post blockquote cite{
  text-align: right;
  color: #111;
  font-style: normal;
}


#header #icons{
	text-align: center;
	margin-top: 80px;
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */


