---
layout: home
---

<div class="posts clearfix">
  {% for post in site.posts %}
  {% if post.draft == true %}
  {% else %}

  {% capture date %}{{post.date | date: '%Y' | plus: 0 }}{% endcapture %}

  {% if date contains "2019" or date contains "2018" or date contains "2017" or date contains "2016" or date contains "2015" or date contains "2014" or date contains "2013" or date contains "2012" or date contains "2011" or date contains "2010" or date contains "2009" %}

  <article class="post">
      <div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
      <h1><a href="{{ site.baseurl }}{{ post.url }}" style="font-family: 'EB Garamond', serif;">{{ post.title }}</a></h1>
      <a href="{{ site.baseurl }}{{ post.url }}"><img src="images/{{ post.url | remove: "/" }}.png" alt="post img" /></a>
      <div class="entry">
      </div>
    </article>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
