    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img style="max-width: 75%;" src="{{ site.avatar }}" alt="{{ site.name }}" /></a>
          <span style="font-family: 'Rubik 80s Fade', cursive; font-size: 32px;">Explore and experiment
          </a> </span><br> 
          <!-- <span style="font-family: 'EB Garamond'; font-size: 16px;">Sharing a passion for product and data, grounded in technology / open source / social impact / education + reflections with a dash of curiosity.</b></span><br> -->
          <!-- <span style="font-family: 'EB Garamond'; font-size: 16px;"></a> -->
          <h3 style="text-align: right;">
            <span style="font-family: 'EB Garamond', monospace; font-size: 16px;"><a href="{{ site.baseurl }}/blog">Posts</a></span> 
          </h3>
          <!--
            <span style="font-family: 'EB Garamond', monospace; font-size: 16px;">|</span> 
            <span style="font-family: 'EB Garamond', monospace; font-size: 16px;"><a href="{{ site.baseurl }}/about">About</a></span>
          </h3> --> 
          </header>
      </div>
    </div>
