    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>
          <span style="font-family: 'Playfair Display'; font-size: 16px;">Welcome to my personal page!</span><br> 
          <span style="font-family: 'Playfair Display'; font-size: 16px;">My name is <b>Tiago Maluta</b></span><br>
          <span style="font-family: 'Playfair Display'; font-size: 12px;">If you want to talk, drop me a line at</a>
            <a href="mailto:maluta@hey.com">maluta@hey.com</a></span> 
          <h3 style="text-align: right;">
            <span style="font-family: 'Inconsolata', monospace; font-size: 16px;"><a href="{{ site.baseurl }}/drafts">Drafts</a></span> 
            <span style="font-family: 'Inconsolata', monospace; font-size: 16px;">|</span> 
            <span style="font-family: 'Inconsolata', monospace; font-size: 16px;"><a href="{{ site.baseurl }}/about">About</a></span>
          </h3>
          </header>
      </div>
    </div>
