<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="author" content="Tiago Maluta"/>
	<link rel="stylesheet" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1783219268621337');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1783219268621337&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
	<!-- 
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-4237681-10']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script> -->
</head>

<div id="header">
	<div id="me">
		<a href="/">
			<span id="tiago">maluta</span>
			<span id="maluta">tiago</span>
		</a>
	</div>
	<div id="mousing">&nbsp; </div>
	<div class="site">
	
	</div>
	<div id="sections">
	<div id="sections">
		<div>
			<a href="http://www.github.com/maluta">github</a>
		</div>
		<div>
			<a href="http://www.twitter.com/maluta">twitter</a>
		</div>
		<div>
			<a href="mailto:tiagomaluta+blog@gmail.com">email</a>
		</div>
		<div>
			<a href="http://maluta.github.com/feed.xml">rss</a>
		</div>
	</div>
	</div>
	<div id="icons">
	</div>
</div>

<body>

	<div id="header">
		
	</div>

	{{ content }}


</body>

</html>
