---
layout: default
---

<article class="post">
  <h1 style="font-family: 'Noto Serif', serif;">{{ page.title }}</h1>
  <!--<a href="{{ page.proj-url }}" class="large-link" target="_blank">View Project Site <i class="fa fa-external-link"></i></a>-->
<!--  <img src={{ page.proj-img }} alt=""{{ page.proj-img-alt }} /> -->
  <div class="date">Posted {{ page.date | date: "%B %e, %Y" }}</div>


  <div class="entry" style="font-family: 'Noto Serif'; font-size: clamp(1.1875rem, 1.1505rem + 0.1852vw, 1.25rem); line-height: 170%;">
    {{ content }}
  </div>

  <br \>
  <br \>
  {% include cusdis.html %}
</article>

